.vs/WebVulnerabilitiesScanner/FileContentIndex/10056bc5-489d-4050-9748-11a597780e86.vsidx
.vs/WebVulnerabilitiesScanner/FileContentIndex/
.vs/WebVulnerabilitiesScanner/v18/
WebVulnerabilitiesScanner/obj/
WebVulnerabilitiesScanner/bin/Debug/
.vs/WebVulnerabilitiesScanner/DesignTimeBuild/
